h1,
h2,
h3,
h4,
h5,
h6,
th {
  color: #627e40;
}

a,
p {
  color: #bf6363;
}

body {
  background-color: #f2f6f5;
}

main {
  margin-bottom: 2.5rem;
}

footer {
  background-color: #e0a9b0;
  height: 3rem;
}

footer h6 {
  color: #f2f6f5;
}

.card-header {
  background-color: #e0a9b0;
  color: #f2f6f5;
}

.card-body {
  background-color: #eedede;
  color: #bf6363;
}

.marketing {
  margin-top: 5rem;
}

.btn {
  border: 0.1rem solid;
  background-color: transparent;
}

.primary {
  border-color: #f2f6f5;
  color: #f2f6f5;
}

.primary:hover {
  background-color: #f2f6f5;
  border-color: #f2f6f5;
  color: #e0a9b0;
}

.secondary {
  border-color: #e0a9b0;
  color: #e0a9b0;
}

.secondary:hover {
  background-color: #e0a9b0;
  border-color: #e0a9b0;
  color: #f2f6f5;
}

.success {
  border-color: #627e40;
  color: #627e40;
}

.success:hover {
  background-color: #627e40;
  border-color: #627e40;
  color: #f2f6f5;
}

.danger {
  border-color: #bf6363;
  color: #bf6363;
}

.danger:hover {
  background-color: #bf6363;
  border-color: #bf6363;
  color: #f2f6f5;
}

.fc-button-primary {
  border-color: #bf6363;
  color: #bf6363;
}

.fc-button-primary:hover {
  background-color: #bf6363;
  border-color: #bf6363;
  color: #f2f6f5;
}

.carousel-item h1 {
  color: #f2f6f5;
}

.carousel-item p {
  color: #eedede;
}

.featurette-tittle {
  width: 15rem;
}

.navbar-toggler-icon {
  color: #627e40;
}

.featurette-divider {
  margin-bottom: 1.5rem;
}

.modal-header {
  background-color: #e0a9b0;
}

.modal-body {
  background-color: #f2f6f5;
  color: #bf6363;
}

.hr-tittle {
  background-color: #bf6363;
}

.page-link {
  background-color: #f2f6f5;
  color: #bf6363;
  border-radius: 0.9rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.page-link:hover {
  background-color: #bf6363;
  color: #f2f6f5;
}

#placeholder {
  background-color: transparent;
  color: #999;
}

#submit {
  width: 100%;
}

#upper-navbar {
  background-color: #e0a9b0;
  /* background-color: #eedede; */
  height: 20%;
}

#bottom-navbar {
  background-color: #eedede;
  /* background-color: #e0a9b0; */
}

#myCarousel {
  height: 50%;
}

#navbarSocialIcon {
  margin-left: 75%;
}

#social-icon {
  width: 35px;
  height: 35px;
  border: 0.5px solid;
  border-radius: 30px;
  background-color: transparent;
  color: #f2f6f5;
}

#social-icon:hover {
  background-color: #f2f6f5;
  color: #e0a9b0;
}

#navigation {
  font-weight: bold;
  color: #bf6363;
}

#staticBackdropLabel {
  color: #f2f6f5;
}

#tittle-service {
  color: #f2f6f5;
}

#div-3 ul {
  margin-left: 30%;
}

#div-1 {
  border: 1px solid #bf6363;
}

#div-2 {
  margin-left: 2%;
  border: 1px solid #bf6363;
}

#div-3 {
  margin-left: 2%;
  border: 1px solid #bf6363;
}

#div-4 {
  margin-top: 3%;
  margin-bottom: 6%;
  border: 1px solid #bf6363;
}

#mapid { 
  height: 90%; 
}